<% if session[:user_id].nil? %>
	<a href='/login'><h3>Optional Login</h3></a>
<%else%>
	<h3>Welcome to Teeny Tiny URL, <%= @name %>!</h3>
	<a href='/logout'>Logout</a>
<% end %>


<form action='/' method='POST'>
	<input type='text' name='long_url' value='http://'>
	<input type='submit'>
</form>

<% if session[:user_id] != nil && @array.size != 0%>
	<h4>Your recently shortened links:</h4>
	<% @array.each do |record| %>
		<form style="display: inline" action='/<%=record.id%>' method="POST">
			<input type='hidden' name='_method' value='DELETE'>
			<input type='submit' value="Delete">
		</form>
		<%= "<a href='#{record.url}'>localhost:9393/#{ShortenedUrl.encode(record.id)}</a>" + " leads to: #{record.url}" %><br>
	<% end %>
<% end %>