<div class="col-md-8">
<% if session[:user_id] %>
	<h3>Welcome to Teeny Tiny URL, <%= @name %>!</h3>
<% else %>
	<h3>Welcome to Teeny Tiny URL!</h3>
	<p> Use the form below to submit long URLs for shortening.</p>
<% end %>


<form action='/' method='POST'>
	<input type='text' name='long_url' value='http://'>
	<input type='submit'>
</form>
</div>

<div class="col-md-4 pull-left">
<% if session[:user_id] && @array.size > 0%>
	<h4>Your recently shortened links:</h4>
	<% @array.each do |record| %>
		<form style="display: inline" action='/<%=record.id%>' method="POST">
			<input type='hidden' name='_method' value='DELETE'>
			<input type='submit' value="Delete">
		</form>
		<%= "<a href='#{record.url}'>localhost:9393/#{ShortenedUrl.encode(record.id)}</a>" + " leads to: #{record.url}" %><br>
	<% end %>
<% end %>
</div>