<h3>Your teeny tiny URL:</h3>
<a href="<%=@current.url%>">http://localhost:9393/<%=@short_url%></a>

<h4>Create another?</h4>
<form action='/' method='GET'>
	<input type='submit' value='Okay!'>
</form>
